<section id="main-banner" class="position-relative">
    <owl-carousel-o [options]="customOptions">


        <!-- First Slide -->
        <ng-template carouselSlide>
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                    <div class="banner-container">
                        <h2 class="main-heading">The Delicious Restaurant</h2>
                        <h4 class="sub-heading">“First we eat, then we do everything else.”</h4>
                        <p class="main-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Second Slide -->
        <ng-template carouselSlide>
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                    <div class="banner-container">
                        <h2 class="main-heading">The Delicious Restaurant</h2>
                        <h4 class="sub-heading">“First we eat, then we do everything else.”</h4>
                        <p class="main-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- Third Slide -->
        <ng-template carouselSlide>
            <div class="row justify-content-center text-center">
                <div class="col-md-10">
                    <div class="banner-container">
                        <h2 class="main-heading">The Delicious Restaurant</h2>
                        <h4 class="sub-heading">“First we eat, then we do everything else.”</h4>
                        <p class="main-desc">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                        </p>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
    <!-- 
    <div class="position-right">
        <img src="../../assets/images/arrow-right.png" alt="">
    </div>
    <div class="position-left">
        <img src="../../assets/images/arrow-left.png" alt="">
    </div> -->


    <div class="book-table">
        <p>Book a Table</p>
    </div>
</section>
<div class="d-flex justify-content-center mt-3">
    <div class="mr-1">
        <b class="phone-text">PHONE : </b><span class="phone-number"> +71-8521-7412-01</span>
    </div>
    &nbsp;
    &nbsp;
    <div class="ml-1">
        <b class="phone-text">Address : </b><span class="phone-number">329 STREET, NORTH ATLANTIC VIC 2051</span>
    </div>
</div>