<section id="menu" class="mt-65">
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <h2 class="heading-text">Menu</h2>
            <p class="heading-desc">
                At vero eos et accusamus et iusto odio dignissimos ducimus
                qui blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias excepturi sint occaecati cupiditat ex ea laboris.
            </p>
            <div class="text-center">
                <img src="../../assets/images/border.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="media">
                <img src="../../assets/images/menu/menu-1.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Salad With Eggs &nbsp;<span class="menu-price">$19.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-3.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Salad With Eggs &nbsp;<span class="menu-price">$19.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-5.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Salad With Eggs &nbsp;<span class="menu-price">$19.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-7.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Salad With Eggs &nbsp;<span class="menu-price">$19.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="media">
                <img src="../../assets/images/menu/menu-2.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Protein Salad &nbsp;<span class="menu-price">$40.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>

            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-4.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Protein Salad &nbsp;<span class="menu-price">$40.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-6.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Protein Salad &nbsp;<span class="menu-price">$40.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
            <div class="media mt-5">
                <img src="../../assets/images/menu/menu-8.png" class="img-fluid mr-4" alt="">
                <div class="media-body">
                    <h2 class="menu-heading">Protein Salad &nbsp;<span class="menu-price">$40.00</span></h2>
                    <p class="menu-desc">Lorem ipsum dolor sit a met conquer ex ea.</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center mt-5">
            <button class="btn btn-load-menu">Load More +</button>
        </div>
    </div>
</section>